@import '../content.scss';

#TopBar {
    // display: flex;
    align-items: center;
    // border: 2px $color-accent solid;
    height: 50px;
    // justify-content: center;
    // margin-bottom: 20px;
}

#SearchBar {
    background-color: $color-secondary;
    border-radius: 15px;
    width: 100%;

    .fa {
        color: $color-grey;
        padding-right: 5px;
    }

    input {
        background-color: $color-secondary;
        border: none;
        color: $color-text;
        height: 40px;
        padding-left: 5px;
        width: 87%;
    }    
}

.col-1 {
    display: flex;
    justify-content: center;
}



