<div class="container-fluid">

    <!-- Top Bar -->
    <div class="row" id="TopBar">

        <!-- Search Bar -->
        <div class="col-8" id="SearchBar">
            <i class="fa fa-search" 
            [appIconChange]="newIcon"></i>
            <input type="text" placeholder="Search">
        </div>

        <!-- Random Icons -->
        <div class="col-1"><i class="fa fa-caret-left"></i></div>
        <div class="col-1"><i class="fa fa-backward"></i></div>
        <div class="col-1"><i class="fa fa-caret-right"></i></div>
        <div class="col-1"><i class="fa fa-times"></i></div>
    
    </div>

    <!-- Emails -->
    <div class="row">
        <div class="col">
            <app-email-list></app-email-list>
        </div>
    </div>
</div>