@import './colors.scss';

.container-fluid {
    background-color: $color-primary;
    font-family: 'Ubuntu', sans-serif;
    height: 100vh;
}

#sidebar {
    height: 100%;
    background-color: $color-secondary;
}

#main-window {
    height: 100%;
    background-color: $color-primary;
}