<div class="container-fluid">
  <div *ngIf="useBigView(); else useSmallView">
    <div class="row">
      <div id="sidebar-md" class="col-md-5 col-xl-3">
        <app-sidebar></app-sidebar>
      </div>
      <div id="main-window-md" class="col-md-7 col-xl-9">
        <app-main-window></app-main-window>
      </div>
    </div>
  </div>
  <ng-template #useSmallView>
    <div class="row">
      <div id="sidebar-sm" class="col-md">
        <app-sidebar></app-sidebar>
      </div>
      <div id="main-window-sm" class="col-md">
        <app-main-window></app-main-window>
      </div>
    </div>
  </ng-template>
</div>