@import './colors.scss';

.container-fluid {
    background-color: $color-primary;
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
}

#sidebar-md {
    height: 100vh;
    background-color: $color-secondary;
}

#main-window-md {
    height: 100%;
    background-color: $color-primary;
}

#sidebar-sm {
    height: 100%;
    background-color: $color-secondary;
}

#main-window-sm {
    height: 100%;
    background-color: $color-primary;
}