@import '../content.scss';

img {
    border-radius: 50%;
    width: 100px;
}

#name {
    font-weight: 600;
    color: $color-text;
    font-size: 25px;
}

#email {
    color: $color-grey;
    font-size: 14px;
}

#ButtonRow {
    position: absolute;
    left: 35px;
    bottom: 0px;
    justify-content: center;
}

#Groups {
    margin-bottom: 70px;
}

.bottomButton {
    background-color: $color-accent;
    border: none;
    border-radius: 10px;
    color: $color-text;
    font-size: 18px;
    padding: 10px;
    width: 100px;
}

.bottomButton:hover {
    background-color: $color-hover;
}

.col-6 {
    width: 100%;
}

button {
    margin-bottom: 20px;
}