@import '../content.scss';

img {
    border-radius: 50%;
    width: 100px;
}

#name {
    font-weight: 600;
    color: $color-text;
    font-size: 25px;
}

#email {
    color: $color-grey;
    font-size: 14px;
}

button {
    background-color: $color-accent;
    border: none;
    border-radius: 10px;
    color: $color-text;
    cursor: pointer;
    font-size: 24px;
    height: 54px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

button:hover {
    background-color: $color-hover;
}

#Groups {
    color: $color-text;
    cursor: default;
    font-size: 18px;
    height: 32px;
    margin-left: 20px;
    margin-top: 10px;
}

.badge {
    //box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    position: relative;
    border-radius: 10em;
    background-color: $color-accent;
    font-size: 12px;
    color: $color-text;
    left: auto;
    top: -15px;
}