@import '../content.scss';

img {
    border-radius: 50%;
    width: 100px;
}

#name {
    font-weight: 600;
    color: $color-text;
    font-size: 25px;
}

#email {
    color: $color-grey;
    font-size: 14px;
}

button {
    background-color: $color-accent;
    border: none;
    border-radius: 10px;
    color: $color-text;
    cursor: pointer;
    font-size: 24px;
    height: 54px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

button:hover {
    background-color: $color-hover;
}