<div class="container-fluid">

    <!-- Profile -->
    <div class="row"> 
        <div class="col-4">
            <img src="../../assets/keanu.jpg" alt="keanu">
        </div>
        <div class="col-8">
            <div class="row" id="name">
                <div class="col">
                    Keanu Reeves
                </div>
            </div>
            <div class="row" id="email">
                <div class="col">
                    realjohnwick@example.com
                </div>
            </div>
        </div>
    </div>

    <!-- New Message -->
    <div class="row">
        <div class="col">
            <button type="button">New Message</button>
        </div>
    </div>

    <!-- Groups -->
    <div class="row" id="Groups">
        <div class="col-2">
            <i class="fa fa-caret-down"></i>
        </div>
        <div class="col-10">
            <b>Inbox (2)</b>
        </div>
    </div>
    <div class="row" id="Groups">
        <div class="col-2">
            <i class="fa fa-caret-right"></i>
        </div>
        <div class="col-10">
            Drafts
        </div>
    </div>
    <div class="row" id="Groups">
        <div class="col-2">
            <i class="fa fa-caret-right"></i>
        </div>
        <div class="col-10">
            Sent
        </div>
    </div>
    <div class="row" id="Groups">
        <div class="col-2">
            <i class="fa fa-flag"></i>
        </div>
        <div class="col-10">
            Spam
        </div>
    </div>
    <div class="row" id="Groups">
        <div class="col-2">
            <i class="fa fa-times"></i>
        </div>
        <div class="col-10">
            Trash
        </div>
    </div>

</div>