<div class="container-fluid">

    <!-- Profile -->
    <div class="row"> 
        <div class="col-4">
            <img src="../../assets/keanu.jpg" alt="keanu">
        </div>
        <div class="col-8">
            <div class="row" id="name">
                <div class="col">
                    Keanu Reeves
                </div>
            </div>
            <div class="row" id="email">
                <div class="col">
                    realjohnwick@example.com
                </div>
            </div>
        </div>
    </div>

    <!-- New Message -->
    <div class="row">
        <div class="col">
            <a routerLink="/newmessage">
                <button type="button" class="mainButton" appColorChange>New Message</button>
            </a>
        </div>
    </div>

    <!-- Groups -->
    <div id="Groups">
        <div *ngFor="let menuItem of menuItems">
            <app-menu-item 
            [name]="menuItem.name"
            [icon]="menuItem.icon"
            [badgeNum]="menuItem.badgeNum">
            </app-menu-item>
        </div>
    </div>
    

    <!-- Login/Signup buttons -->
    <div id="ButtonRow" class="row">
        <a routerLink="/login">
            <button>Log In</button>
        </a>
        <a routerLink="/signup">
            <button>Sign Up</button>
        </a>
    </div>

</div>