@import '../content.scss';

.container-fluid {
    background-color: $color-primary;
    color: $color-text;
    height: 100vh;
}

.mainButton {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

#UserNotExist {
    display: flex;
    justify-content: center;

    color: $color-error;
    font-size: 18px;
    margin-top: 25px;
}