@import '../content.scss';

.container-fluid {
  background-color: $color-primary;
  color: $color-text;
  height: 100vh;
}

.form-box {
  width: 460px;
}

.form-group {
  border: 1px solid #444444;
  padding-bottom: 0;
  margin-bottom: 0;
}

.messageFormTextBox {
  background-color: $color-form-textbox;
  border: none;
  border: 1px solid #444444;
  border-radius: 0;
  color: $color-text;
  margin-bottom: 0px;
}

.messageFormButton {
  border: none;
  border-radius: 0px 0px 10px 10px;
  color: $color-text;
}

#buttonRow {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
}

#addHyperlinkButton {
  background-color: green
}

#addHyperlinkButton:hover {
  background-color: rgb(0, 165, 0);
}

#removeHyperlinkButton {
  background-color: rgb(165, 0, 0);
}

#removeHyperlinkButton:hover {
  background-color: rgb(255, 0, 0);
}

textarea {
  resize: none;
  width: 100%;
}

input, textarea {
  &.ng-invalid {
    &.ng-touched {
      border: 1px solid red;
    }
  }
}