<div class="container-fluid">
    <div class="row" *ngFor="let email of emails">
        <div class="col-1" [ngStyle]="email.style">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-11">
            <app-email 
            [subject]=email.subject
            [sender]=email.sender
            [date]=email.date
            [message]=email.message
            [listPos]=email.listPos
            (readEmit)="toggleRead($event)">
        </app-email>
        </div>
    </div>
</div>

<!-- <div class="container-fluid">
    <div class="row" *ngFor="let email of emails">
        <div class="col-1" [ngStyle]="email.style">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-11">
            <app-email 
            [subject]=email.subject
            [sender]=email.sender
            [date]=email.date
            [message]=email.body
            [listPos]=email.listPos
            (readEmit)="toggleRead($event)">
        </app-email>
        </div>
    </div>
</div> -->