<!--
    Ok so here's the plan:
        -Create an component "Email"
        -4 instances of this class with different properties.
            -read, title, sender, etc.
        -Click on the bootstrap row, "read = !read"
        -Output from Email to bootstrap row, change circle color
            -$color-primary if true
            -$color-accent if false
-->

<div class="container-fluid">

    <div class="row">
        <div class="col-1" [ngStyle]="styles[0]">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-11">
            <app-email
                [emailContent]=emailContent0
                (readEmit)="toggleRead($event)">
            </app-email>
        </div>
    </div>

    <div class="row">
        <div class="col-1" [ngStyle]="styles[1]">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-11">
            <app-email
                [emailContent] = emailContent1
                (readEmit)="toggleRead($event)">
            </app-email>
        </div>
    </div>

    <div class="row">
        <div class="col-1" [ngStyle]="styles[2]">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-11">
            <app-email
                [emailContent] = emailContent2
                (readEmit)="toggleRead($event)">
            </app-email>
        </div>
    </div>

    <div class="row">
        <div class="col-1" [ngStyle]="styles[3]">
            <i class="fa fa-circle"></i>
        </div>
        <div class="col-11">
            <app-email
                [emailContent] = emailContent3
                (readEmit)="toggleRead($event)">
            </app-email>
        </div>
    </div>
</div>